.sha {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shad {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.chat-logo {
  padding-left: 66px;

  &__img {
    width: 30px;
    height: 30px;
  }
}

.side {
  background-color: #f5f7fb;
  width: 100%;
  height: 100vh;
  padding: 0 !important;
}

.nav-tabs .nav-link.active {
  background-color: #f5f7fb !important;
}

.list-tabs {
  list-style: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 30px;

  & li {
    position: relative;
    padding: 10px 0;
    cursor: pointer;
    display: block;
    width: 100px;
  }

  & li:before {
    position: absolute;
    content: " ";
    width: 153px;
    height: 50px;
    top: 0;
    left: -54px;
    background-color: transparent;

  }

  & li:first-child {
    padding-top: 0;
  }
}

.bg-content {
  background-color: #f5f7fb;
  height: 100vh;
}

.list-tabs-re {
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  z-index: 1;
  background-color: #fff;

  & li {
    display: block;
    cursor: pointer;
    position: relative;
    padding: 18px 0;
  }

  & li:before {
    position: absolute;
    content: " ";
    width: 153px;
    height: 48px;
    top: -2px;
    left: -54px;
    background-color: transparent;

  }
}

.tab-active {
  color: #918af3;
  font-weight: 700;
}

.btn-bar {
  margin-top: 18px;
  margin-right: 26px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
}
.hv-100{
  height: 100vh;
}
