<div class="container__input px-3 py-4">
  <form class="w-100 d-flex justify-content-between" novalidate #userTextForm="ngForm"
        (submit)="onSubmit(userTextForm)">
    <input class="w-100 input_text mx-3" placeholder="{{'Gõ một tin nhắn. Nhấn Enter để gửi'|translate}}" type="text"
           (blur)="onBlur()" (focus)="onFocus()"
           name="message" [(ngModel)]="message" (ngModelChange)="changeInput()" autocomplete="off" #inputMessage>
    <div class="contain__gif d-flex align-items-center justify-content-center">
      <div *ngIf="isShowGif" class="position-relative">
        <div class="input__gif">
          <input type="text" (input)="searchGif($event.target)" name="search" class="input" placeholder="search gif">
          <br>
        </div>
        <div class="container__image-gif">
          <div *ngFor="let g of gifs">
            <img src="{{g.media[0].mediumgif.url}}" (click)="sendGif(g.media[0].mediumgif.url)" width="250px"
                 height="250px">
          </div>
        </div>
      </div>
      <i class="fa-solid fa-list-ul" (click)="changeShowGif()"></i>
    </div>
    <div class="container__icon d-flex align-items-center justify-content-center mx-2">
      <i class="fa-solid fa-face-smile mx-3" (click)="toggleEmojiPicker()"></i>
      <div class="contain__emoji">
        <emoji-mart class="emoji-mart emoji" *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)"
                    title="Pick your emoji…"></emoji-mart>
      </div>
    </div>
    <div class="container__attach d-flex align-items-center justify-content-center">
      <label for="upload_image">
        <i class="fa-solid fa-paperclip"></i>
      </label>
      <input id="upload_image" class="d-none" type="file" (change)="uploadFile($event)"/>
    </div>
    <button mat-raised-button type="submit" class="btn btn-primary button_submit mx-4"><i class="fa-solid fa-play"></i>
    </button>

  </form>
</div>


