<div class="d-flex flex-column px-2" *ngFor="let message of this.contentChatService.messages;">
    <div *ngIf="message.name !== currentName">
      <div class="d-flex flex-row">
        <app-conversation [avatar]="getAvatar(message.name)" [name]="message.name" [mes]="message.mes" [time]="message.createAt" [color_text]="'white'" [color_time]="'rgb(255,248,252)'" [bg_color]="'rgb(182,150,243)'" [text_position]="'left'" [flex_direction]="'row'" [left]="'0'" [right]="'unset'"></app-conversation>
      </div>
    </div>
    <div *ngIf="message.name == currentName">
      <div class="d-flex flex-row flex-row-reverse">
        <app-conversation [avatar]="avatar" [name]="message.name" [mes]="message.mes" [time]="message.createAt" [color_text]="'black'" [color_time]="'#7a7f9a'" [bg_color]="'rgb(245,247,251)'" [text_position]="'right'"  [flex_direction]="'row-reverse'" [left]="'unset'" [right]="'0'"></app-conversation>
      </div>
    </div>
</div>





