<div class="account-pages pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="form-login col-md-8 col-lg-6 col-xl-5">
        <div class="text-center mb-4">
          <a href="index.html" class="auth-logo mb-1 d-block">
            <img src="assets/images/logo-dark.png" alt="" height="30" class="logo logo-dark">
          </a>

          <h4>{{'Đăng Ký Tài Khoản' |translate}}</h4>
          <p class="text-muted mb-4">{{'Đăng ký tài khoản ngay bây giờ'|translate}}</p>

        </div>

        <div class="card">
          <div class="">
            <div class="p-3">
              <form action="" [formGroup]="signupForm" (ngSubmit)="signUp()">

                <div class="mb-2">
                  <label class="label-register">Email</label>
                  <div class="div-input input-group bg-soft-light rounded-3">
                                            <span class="" id="basic-addon5">
                                                    <i class="fa-solid fa-envelope"></i>
                                                </span>
                    <input formControlName="email" type="email" class="input-control"
                           placeholder="{{'Nhập địa chỉ email'|translate}}" aria-describedby="basic-addon5">
                  </div>

                  <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched) ">
                    <div *ngIf="f.email.errors">
                      <div *ngIf="f.email.errors.required">
                        <span class="fw-bold text-danger">
                          {{'Email không được để trống'|translate}}
                        </span>
                      </div>
                      <div *ngIf="f.email.errors.email">
                         <span class="fw-bold text-danger">
                          {{'Email không đúng định dạng'|translate}}
                         </span>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="mb-2">
                  <label class="label-register">{{'Tên tài khoản'|translate}}</label>
                  <div class="div-input input-group bg-soft-light rounded-3">
                                            <span class="" id="basic-addon6">
                                                     <i class="fa-solid fa-user"></i>
                                                </span>
                    <input formControlName="username" type="text" class="input-control"
                           placeholder="{{'Nhập tên tài khoản'|translate}}" minlength="6" aria-describedby="basic-addon6" name="username" [(ngModel)]="username">
                  </div>
                  <div *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)">
                    <div *ngIf="f.username.errors">
                      <div *ngIf="f.username.errors.required">
                       <span class="fw-bold text-danger">
                          {{'Tên tài khoản không được để trống'|translate}}
                       </span>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="f.username?.invalid && (f.username?.dirty || f.username?.touched)">
                    <div *ngIf="f.username.errors">
                      <div *ngIf="f.username.errors.minlength">
                       <span class="fw-bold text-danger">
                          {{'Tên tài khoản phải ít nhất 6 kí tự'|translate}}
                       </span>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="mb-2">
                  <label class="label-register">{{'Mật khẩu'|translate}}</label>
                  <div class="div-input input-group bg-soft-light rounded-3">
                                            <span class="" id="basic-addon7">
                                                     <i class="fa-solid fa-key"></i>
                                                </span>
                    <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="input-control"
                           placeholder=" {{'Nhập mật khẩu'|translate}}" aria-describedby="basic-addon7" name="password" [(ngModel)]="password">
                    <div class="mt-2 icon-view" (click)="viewPassword()" *ngIf="this.showPassword">
                      <i class="fa-solid fa-eye"></i>
                    </div>
                    <div class="mt-2 icon-view" (click)="viewPassword()" *ngIf="!this.showPassword">
                      <i class="fa-solid fa-eye-slash"></i>
                    </div>

                  </div>

                  <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                    <div *ngIf="f.password.errors">
                      <div *ngIf="f.password.errors.required">
                        <span class="fw-bold text-danger">
                           {{'Mật khẩu không được để trống'|translate}}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                    <div *ngIf="f.password.errors">
                      <div *ngIf="f.password.errors.minLength">
                        <span class="fw-bold text-danger">
                           {{'Mật khẩu phải ít nhất 6 kí tự'|translate}}
                        </span>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="mb-2">
                  <label class="label-register">{{'Nhập lại mật khẩu'|translate}}</label>
                  <div class="div-input input-group bg-soft-light  rounded-3">
                                            <span class="" id="basic-addon8">
                                                     <i class="fa-solid fa-key"></i>
                                                </span>
                    <input [type]="showPasswordConfirm ? 'text' : 'password'" formControlName="confirmPassword"
                           class="input-control"
                           placeholder="{{'Nhập lại mật khẩu'|translate}}" aria-describedby="basic-addon7"
                           name="password" [(ngModel)]="confirmPassword">
                    <div class="mt-2 icon-view" (click)="viewPasswordConfirm()" *ngIf="this.showPasswordConfirm">
                      <i class="fa-solid fa-eye"></i>
                    </div>
                    <div class="mt-2 icon-view" (click)="viewPasswordConfirm()" *ngIf="!this.showPasswordConfirm">
                      <i class="fa-solid fa-eye-slash"></i>
                    </div>
                  </div>

                  <div *ngIf="f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)">
                    <div *ngIf="f.confirmPassword.errors">
                      <div *ngIf="f.confirmPassword.errors.required">
                        <span class="fw-bold text-danger">
                          {{'Xác nhận mật khẩu không được để trống'|translate}}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)">
                    <div *ngIf="f.confirmPassword.errors">
                      <div *ngIf="f.confirmPassword.errors.mustMatch">
                        <span class="fw-bold text-danger">
                          {{'Xác nhận mật khẩu không chính xác'|translate}}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="my-4">
                  <ngx-recaptcha2 #captchaElem
                                  [siteKey]="siteKey"
                                  formControlName="recaptcha">
                  </ngx-recaptcha2>
                  <div *ngIf="f.recaptcha.errors && this.isSubmitted">
                    <div *ngIf="f.recaptcha.errors.required">
                      <p class="text-danger fw-bold">
                        {{'Bạn là robot ?'|translate}}
                      </p>
                    </div>
                  </div>
                </div>


                <div class="d-grid">
                  <button class="btn btn-primary waves-effect waves-light" type="submit">
                    {{'Đăng Ký'|translate}}
                  </button>
                </div>

              </form>

            </div>
          </div>
        </div>

        <div class="mt-4 text-center">
          <p>{{'Bạn đã có tài khoản ?'|translate}}
            <a routerLink="../logIn" class="fw-medium text-primary">
              {{'Đăng Nhập'|translate}}
            </a>
          </p>
          <p>©
            <script>
              document.write(new Date().getFullYear())
            </script>
            {{'Nessenger được tạo bởi CHK'|translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
