<div class="d-flex">
  <h5>{{'Cài Đặt'|translate}}</h5>
</div>
<div class="setting-info ">
  <img class="setting-info__avatar"
       src="{{this.profileService.src}}"
       alt="">
  <p class="setting-info__name mt-2"><strong>{{userName}}</strong></p>
</div>
<div class="list-function">
  <div class="mb-3">
    <mdb-accordion class="w-100">
      <mdb-accordion-item>
        <ng-template mdbAccordionItemHeader>{{'Tài khoản'|translate}}</ng-template>
        <ng-template mdbAccordionItemBody style="border: none">

          <div (click)="handleClick()" class="list-function__item avatar d-flex justify-content-between mb-4">
            <input type="file"
                   id="file-avatar" style="display:none;"
                   (change)="this.profileService.uploadFile($event)"/>
            <span class="text-wrap" value="Upload">{{'Thay đổi ảnh đại diện'|translate}}</span>
            <i class="fa-solid fa-image"></i>
          </div>

          <div class="list-function__item d-flex justify-content-between mb-4" (click)="logout()">
            <span class="list-function__item--logout">{{'Đăng xuất' | translate}}</span>
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
          </div>
          <button id="save-avatar" class="btn btn-info" *ngIf="this.profileService.showMyContainer"
                  (click)="this.profileService.saveAvatar()">Save
          </button>
        </ng-template>
      </mdb-accordion-item>
    </mdb-accordion>
  </div>

  <div class="mb-3">
    <mdb-accordion class="w-100">
      <mdb-accordion-item>
        <ng-template mdbAccordionItemHeader>{{'Ngôn ngữ'|translate}}</ng-template>
        <ng-template mdbAccordionItemBody style="border: none">
          <select (change)="this._languageService.changeLanguage($event)" class="form-select">
            <option selected="selected">{{'Chọn ngôn ngữ'|translate}}</option>
            <option value="en">{{'Tiếng Anh'|translate}}</option>
            <option value="vn">{{'Việt Nam'|translate}}</option>
          </select>
        </ng-template>
      </mdb-accordion-item>
    </mdb-accordion>
  </div>
</div>
