<div class="d-flex justify-content-between">
  <h5>{{'Nhóm'|translate}}</h5>
  <div>
    <button class="btn-create pe-3" (click)="isShowing =true">
      <i class="fa-solid fa-circle-plus"></i>
      <span class="btn-create__hint">{{'Tạo nhóm'|translate}}</span>
    </button>
    <button class="btn-create" (click)="isShowAddMember =true">
      <i class="fa-solid fa-user-group"></i>
      <span class="btn-create__hint">{{'Tham gia nhóm'|translate}}</span>
    </button>
  </div>
  <h5></h5>

</div>

<div class="modal-create-group" *ngIf="isShowing" (click)="isShowing =false"></div>
<div class="modal-create-groupss" *ngIf="isShowing">
  <div class="d-flex justify-content-between align-items-center modal-create-groupss__header">
    <h5>{{'Tạo nhóm'|translate}}</h5>
    <button class="modal-create-groupss__header--close" (click)="isShowing =false">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>


  <div class="modal-create-groupss__body">
    <div class="d-flex flex-column">
      <label>{{'Tên nhóm'|translate}}</label>
      <input type="text" placeholder="{{'Nhập tên nhóm'|translate}}" [(ngModel)]="nameRoom">
    </div>
  </div>
  <div>
    <div *ngIf="this._createGroupService.dataCreated != null && this._createGroupService.dataCreated != undefined">
      <p class="fw-bold text-danger">
        {{this._createGroupService.dataCreated.status === "error" && this._createGroupService.dataCreated.event === "CREATE_ROOM" ? "Tạo nhóm không thành công" : ""}}
      </p>
      <p
        class="fw-bold text-success">{{this._createGroupService.dataCreated.status === "success" && this._createGroupService.dataCreated.event === "CREATE_ROOM" ? "Tạo nhóm thành công" : ""}}</p>
    </div>

  </div>
  <div class="d-flex modal-create-groupss__footer">
    <button class="modal-create-groupss__footer--close d-block" type="button"
            (click)="isShowing =false">{{'Đóng'|translate}}</button>
    <button class="modal-create-groupss__footer--create" type="submit"
            (click)="createHandler()">{{'Tạo nhóm'|translate}}</button>
  </div>



</div>


<!--copy join-->
<div class="modal-create-group" *ngIf="isShowAddMember" (click)="closeCreate()"></div>
<div class="modal-create-groupss" *ngIf="isShowAddMember">
  <div class="d-flex justify-content-between align-items-center modal-create-groupss__header">
    <h5>{{'Tham gia nhóm'|translate}}</h5>
    <button class="modal-create-groupss__header--close" (click)="isShowAddMember =false">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="modal-create-groupss__body">
    <div class="modal-create-groupss__body">
      <div class="d-flex flex-column">
        <label>{{'Tên nhóm'|translate}}</label>
        <input type="search" placeholder="{{'Nhập tên nhóm'|translate}}" [(ngModel)]="nameJoinRoom">
      </div>

    </div>
  </div>
  <div *ngIf="this._joinGroupService.dataJoin != null && this._joinGroupService.dataJoin != undefined">
      <span
        class="fw-bold text-danger mt-5">{{this._joinGroupService.dataJoin.status === "error" && this._joinGroupService.dataJoin.event === "JOIN_ROOM" ? "Tham gia nhóm không thành công" : "" |translate}}</span>
    <span
      class="fw-bold text-success mt-5">{{this._joinGroupService.dataJoin.status === "success" && this._joinGroupService.dataJoin.event === "JOIN_ROOM" ? "Tham gia nhóm thành công" : ""|translate}}</span>
  </div>
  <div class="d-flex modal-create-groupss__footer">
    <button class="modal-create-groupss__footer--close" (click)="closeJoin()">{{'Đóng'|translate}}</button>
    <button class="modal-create-groupss__footer--create" (click)="joinHandler()">{{'Tham gia nhóm'|translate}}</button>
  </div>

</div>
<!--end copy-->
<div action="" id="search-groups" class="mt-3">
  <i class="fa-solid fa-magnifying-glass"></i>
  <input type="text" placeholder="{{'Tìm kiếm'|translate}}" class="search-input" [(ngModel)]="txtSearchGroup">
</div>
<div class="groups mt-4 style-5">
  <a class="d-flex justify-content-between align-items-center"
     *ngFor="let group of this._groupsService.groupList |filter:txtSearchGroup" (click)="selectMessage(group)">
    <div class="groups-left d-flex align-items-center" *ngIf="group.type === 1">
      <span class="groups-left__avatar ">{{renderNameGroup(group.name)?.substring(0, 1)!.trim()}}</span>
      <span class="groups-left__name">{{renderNameGroup(group.name)}}</span>
    </div>
    <div class="groups-right">
    </div>
  </a>

</div>
