<div class="text-center vh-100 d-flex flex-column  justify-content-between position-relative">
    <app-header-bar></app-header-bar>
  <!-- reverse de auto scroll bottom-->
  <div class="container__content d-flex flex-column-reverse" (scroll)="onScroll($event)" id="container_scroll">
    <!-- new array message -->
    <app-content-chat class="d-flex flex-column-reverse" [contentChatService]="this.contentChatService"></app-content-chat>
    <!-- old array message -->
    <app-content-chat class="d-flex flex-column-reverse" [contentChatService]="this.oldContentChatService"></app-content-chat>
    <!-- display file before send -->
    <div class="contain__image d-flex flex-wrap flex-row-reverse align-items-end w-100">
        <div *ngFor="let file of files; index as i">
          <div class="m-0 p-0 h-100" [ngSwitch]="checkExtension(file)">
            <p *ngSwitchCase="'excel'" class="icon-file normal-file-upload">
            <span class="remove-file-upload" (click)="removeFileBeforeUpload(i)">x</span>
            <i class="fa-solid fa-file-excel"></i>
              <span>{{file.name}}</span>
            </p>
            <p *ngSwitchCase="'word'" class="icon-file normal-file-upload">
              <span class="remove-file-upload" (click)="removeFileBeforeUpload(i)">x</span>
              <i class="fas fa-file-word"></i>
              <span>{{file.name}}</span>
            </p>
            <p *ngSwitchCase="'powerpoint'" class="icon-file normal-file-upload">
              <span class="remove-file-upload" (click)="removeFileBeforeUpload(i)">x</span>
              <i class="fa-solid fa-file-powerpoint"></i>
              <span>{{file.name}}</span>
            </p>
            <p *ngSwitchCase="'pdf'" class="icon-file normal-file-upload">
              <span class="remove-file-upload" (click)="removeFileBeforeUpload(i)">x</span>
              <i class="fa-solid fa-file-pdf"></i>
              <span>{{file.name}}</span>
            </p>
            <p *ngSwitchCase="'rar'" class="icon-file normal-file-upload">
              <span class="remove-file-upload" (click)="removeFileBeforeUpload(i)">x</span>
              <i class="fa-solid fa-file-zipper"></i>
              <span>{{file.name}}</span>
            </p>
            <p *ngSwitchCase="'music'" class="icon-file normal-file-upload">
              <span class="remove-file-upload" (click)="removeFileBeforeUpload(i)">x</span>
              <i class="fa-solid fa-file-video"></i>
              <span>{{file.name}}</span>
            </p>
            <p *ngSwitchCase="'text'" class="icon-file normal-file-upload">
              <span class="remove-file-upload" (click)="removeFileBeforeUpload(i)">x</span>
              <i class="fa-solid fa-file-lines"></i>
              <span>{{file.name}}</span>
            </p>
            <p *ngSwitchCase="'code'" class="icon-file normal-file-upload">
              <span class="remove-file-upload" (click)="removeFileBeforeUpload(i)">x</span>
              <i class="fa-solid fa-file-code"></i>
              <span>{{file.name}}</span>
            </p>
            <p *ngSwitchCase="'database'" class="icon-file normal-file-upload">
              <span class="remove-file-upload" (click)="removeFileBeforeUpload(i)">x</span>
              <i class="fas fa-database"></i>
              <span>{{file.name}}</span>
            </p>
            <p *ngSwitchCase="'image'" class="icon-file">
              <span class="remove-file-upload" (click)="removeFileBeforeUpload(i)">x</span>
              <img src="{{file.data}}" alt="404 image" width="200px" height="200px" class="">
            </p>
            <p *ngSwitchCase="'undefined'" class="icon-file normal-file-upload">
              <span class="remove-file-upload" (click)="removeFileBeforeUpload(i)">x</span>
              <i class="fa-solid fa-file"></i>
              <span>{{file.name}}</span>
            </p>
            <p *ngSwitchDefault class="">
            </p>
          </div>
        </div>
    </div>
    <!-- spinner when scroll load old message -->
    <div class="container__spinner" *ngIf="spinner.isShow">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>

  <app-input-chat (setScrollToBottomEvent)="setScrollToBottom()" (addFile)="addFile($event)" (resetArrayImage)="resetArrayFile()"></app-input-chat>
</div>


