<div class="d-flex justify-content-between">
  <h5 class=" label-login">{{'Tạo mới cuộc trò chuyện'|translate}}</h5>
</div>
<div class="p-3 mt-3 connect-form">
  <form action="" [formGroup]="connectForm" (ngSubmit)="connectToUser()">
    <div class="mb-3">
      <div class=" div-input input-group mb-3 bg-soft-light runded-3">

        <input type="text" formControlName="userNameConnect" class="input-control mt-1"
               placeholder="{{'Nhập tên người trò chuyện'|translate}}"
               aria-label="Enter Username" aria-describedby="basic-addon3" name="username"
               [(ngModel)]="userNameConnect">
      </div>
      <div *ngIf="f.userNameConnect.invalid && (f.userNameConnect.dirty || f.userNameConnect.touched)">
        <div *ngIf="f.userNameConnect.errors">
          <div *ngIf="f.userNameConnect.errors.required">
            <div class="title-error col alert-danger" role="alert" style="">
              {{'Tên tài khoản không được để trống' | translate}}
            </div>
          </div>
        </div>
      </div>


      <div class="btn_submit">
        <button type="submit" [disabled]="!connectForm.valid">{{'Kết nối'|translate}}</button>
      </div>

    </div>


  </form>
</div>
